# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Pp]ackages/
Logs/
UserSettings/

# Visual Studio
.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# OpenSpec
openspec/changes/archive/